.env
node_modules
*.log
dist

# video
!video/.gitkeep
video/cutVideoFrames/*
!video/cutVideoFrames/.gitkeep
video/invites.mp4
video/timelapse.mp4

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions