.env
node_modules
*.log
dist

# Abi types
src/types/abiTypes/*

# video
video/*
!video/.gitkeep
!video/cutVideoFrames/.gitkeep

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions